body{
    background-color:  rgba(240, 224, 237, 0.863) ;
   
}

.home{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color:white;
    text-decoration: none;
}


header{
	width: 100%;
}

.logo{
	max-height: 100px;
	max-width: 100px;
	cursor: pointer;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background:rgba(240, 224, 237, 0.863);
    font-size: large;
    display: flex;
    justify-content: center;
    
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 10px 40px;
	color: rgb(10, 66, 104);
	font-family: Arial;
	text-decoration: none;
}

.menu li a:hover{
	color: #650848;
	transition: all .3s; 
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #f9fbfc;
	width: 150%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #650848;
	font-family: Arial;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
    background-color: White;
}

form{
    width: 900px;
    margin: auto;
    background: #fab7eb;
    padding: 10px 10px;
    box-sizing:border-box;
    margin-top:40px;
    border-radius: 8px;
	padding-left: 190px;
}

p{
    margin-left: 10px; 
}

h3{
    color: black;
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

input, textarea{
    margin-left: 10px;
	display: flex;
	justify-content: center;
    width: 70%;
    margin-bottom:20px;
    padding: 6px;
    box-sizing: border-box;
    font-size: 17px;
    border:none;

}

textarea{
    min-height: 100px;
    max-height: 100px;
    min-width: 490px;
    max-width: 100px;
}

.pais{
    display: flex;
    align-items: center;
    gap: 20px;
}
.selcou{
    margin-top: -15px;
}


#button:hover{
    cursor: pointer;
}

footer{
    float:left;
    padding:1%;
    width: 98%;
    background-color: rgba(240, 224, 237, 0.863);
    text-align: center; 
    color:black; 
    font-size: 15px; 
    padding-top: 0%;
   
}



